.flex {
    display: flex;
    justify-content: space-between;
}
.card{
  width: 180px;

}
.cards-container{
 background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    padding: 20px;
    margin: 2rem;
    display: flex;
    flex-direction: row;
}
.hola-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* para que hagan salto si no entra horizontalmente */
    gap: 1.5rem;
    justify-content: center;
}


.selected-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* <-- Centra horizontalmente */
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
}


.selected-card {
    width: 180px;
    height: 250px;
    border-radius: 12px;
    background-image: url('/assets/fondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    transition: transform 0.2s ease-in-out;
}

.selected-card {
    width: 180px;
    height: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    /* para alinear desde arriba */
    gap: 8px;
    /* espacio entre imagen y atributos */
}

.selected-card:hover {
    transform: scale(1.05);
}

.selected-card img {
    height: 120px;
    object-fit: cover;
}

.texto {
    color: white;
    font-size: 10px;
    /* Aumentamos un poco para que sea legible pero compacto */
    margin: 0;
    padding: 2px 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: #534D4D;
    border-radius: 3px;

    box-shadow: 2px 1px 0 #FFD633;
    opacity: 0.9;

    transition: transform 250ms ease, box-shadow 250ms ease;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    width: 100%;
    justify-content: center;
}


.player-card.turno {
  background-color: #232e5b; /* color especial para el turno */
  border-color: gold;
  box-shadow: 0 0 10px gold;
}
.player-card {
  transition: 0.3s;
  border: 2px solid transparent;
  border-radius: 12px;
  padding: 10px;
  background-color: transparent;
}

.round {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(135deg, #3f51b5, #2196f3);
  padding: 10px 20px;
  border-radius: 12px;
  text-align: center;
  margin: 20px auto;
  width: fit-content;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
