<div [ngClass]="layout === 'horizontal' ? 'card-container-horizontal' : 'card-container-grid'">
    <mat-card class="game-card" *ngFor="let card of cards">
        <img class="game-card-img" mat-card-image [src]="card.url" alt="Card image" />
        <div class="grid">
            <p class="texto">Fuerza: {{ card.force }}</p>
            <p class="texto">Velocidad: {{ card.speed }}</p>
            <h2 class="texto">IQ: {{ card.iq }}</h2>
            <p class="texto">Popularidad: {{ card.popularity }}</p>
            <p class="texto">Resistencia: {{ card.resistance }}</p>
            <p class="texto">Apariciones: {{ card.appearances }}</p>
        </div>
    </mat-card>
</div>