<!-- <div [ngClass]="layout === 'horizontal' ? 'card-container-horizontal' : 'card-container-grid'">
    <mat-card class="game-card" *ngFor="let card of cards">
        <img class="game-card-img" mat-card-image [src]="card.url" alt="Card image" />
        <div class="grid">
            <p class="texto"  (click)="cerrar()" (click)="onAttributeClick(card, 'force')">Fuerza: {{ card.force }}</p>
            <p class="texto" (click)="onAttributeClick(card, 'speed')">Velocidad: {{ card.speed }}</p>
            <h2 class="texto" (click)="onAttributeClick(card, 'iq')">IQ: {{ card.iq }}</h2>
            <p class="texto" (click)="onAttributeClick(card, 'popularity')">Popularidad: {{ card.popularity }}</p>
            <p class="texto" (click)="onAttributeClick(card, 'resistance')">Resistencia: {{ card.resistance }}</p>
            <p class="texto" (click)="onAttributeClick(card, 'appearances')">Apariciones: {{ card.appearances }}</p>
        </div>
    </mat-card>
</div> -->

<!-- <div [ngClass]="layout === 'horizontal' ? 'card-container-horizontal' : 'card-container-grid'"> -->
<!-- <mat-card class="game-card" *ngFor="let card of cards" (click)="onAttributeClick(card)"> -->
<mat-card class="game-card">
  <img class="game-card-img" mat-card-image [src]="card.url" alt="Card image" />
  <div class="grid">
    <p
      class="texto"
      *ngFor="let atributo of atributos"
      (click)="mostrarInfo(atributo.nombre, card[atributo.key])">
      {{ atributo.nombre }}: {{ card[atributo.key] }}
    </p>
  </div>
</mat-card>
<!-- </div> -->
