<!-- <h1 *ngFor="let item of players">{{}}</h1> -->


<!-- <div class="player-card">
    <div class="score-section">
        <span class="star">⭐</span>
        <span class="score">{{ player.score }}</span>
    </div>


    <div class="player-info">
        <div class="avatar">
            <img [src]="'/perfil.png'" [alt]="player.name + ' avatar'" class="avatar-img">
        </div>
        <div class="name-badge">
            {{ player.name }}
        </div>
    </div>


    <div class="cards-section">
        <div class="cards-container">
            <div class="card" *ngFor="let i of getCards(); let index = index"
                [style.z-index]="getCards().length - index" [style.left.px]="index * 8" (click)="openCardModal()">
                🂠
            </div>
        </div>
    </div>
</div>


<app-simple-modal-component [visible]="modalVisible" (close)="closeModal()">
    <h3>Cartas de {{ player.name }}</h3>
    <app-card-component [cards]="cards" layout="horizontal"></app-card-component>
</app-simple-modal-component> -->