<div class="player-card">
  <div class="score-section">
    <span class="star">⭐</span>
    <span class="score">{{ models?.winner }}</span>
  </div>

  <div class="player-info">
    <div class="avatar">
      <img [src]="'/assets/perfil.png'" [alt]="'avatar'" class="avatar-img">
    </div>
    <div class="name-badge">
      {{ models?.playerName }}
    </div>
  </div>

  <div class="cards-section">
    <div class="cards-container">
      <div class="card" *ngFor="let i of cardIndexes; let index = index"
        [style.z-index]="cardIndexes.length - index"
        [style.left.px]="index * 8">
        {{cards.length || '?'}}
      </div>
    </div>
  </div>
</div>
<!-- Mensaje grande de turno -->
<div class="turn-message" *ngIf="turnMessageVisible">
  ¡Es tu tuno, {{ models?.playerName }}!
</div>

<div class="atributo" *ngIf="atributo">
  <div class="atributo-nombre">{{ atributo }}</div>
  <div class="atributo-valor">{{ atributo.valor }}</div>
</div>

<div class="modal-backdrop" *ngIf="modalVisible">
  <div>

    <div class="modal-content">

      <div class="cards-scroll-container"
        [style.scroll-snap-type]="'x mandatory'">
        <app-card-component *ngFor="let card of cards; let i = index"
          (clickAtributo)="SeleccionarAtributo($event)"
          [card]="card"
          class="card-item"
          [class.active]="selectedCardIndex === i"
          [class.deshabilitada]="isCartaDeshabilitada(card.id)"
          [attr.data-index]="i"
          (click)="selectCard(i, card)">
        </app-card-component>
      </div>
    </div>
    <button mat-flat-button (click)="pasarRonda()">Continuar</button>
  </div>
</div>

<!-- <app-simple-modal-component [visible]="modalVisible" (close)="closeModal()"> -->
<!-- (attributeSelected)="handleAttributeSelection($event)"></app-card-component> -->
<!-- </app-simple-modal-component> -->
